.home-notification {
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
}
.home-notification:last-child {
    margin-bottom: 0;
}
.home-notification .img {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
}
.home-notification .notification-content span:first-child {
    font-weight: 500;
    margin-right: 5px;
    display: block;
    text-transform: capitalize;
}
.home-notification .notification-content span:last-child {
    font-size: 14px;
}
.home-notification .notification-content {
    margin: 0 0 0 10px;
}