.task-calendar {
    background-color: hsl(251 81% 97% / 1);
    flex-grow: 1;
}
.task-calendar .tab-header {
    margin: 12px 30px 0;
    font-weight: 400;
}
.task-calendar .warning {
    margin: 12px 30px 0;
    background: #d9deeb;
    padding: 10px;
    border-radius: 10px;
}