.modal.task .overlay .content {
    width: 585px;
}
.modal.task .back-btn {
    margin-left: auto;
}
.task-options {
    padding: 0 20px;
}
.task-property.status .property-value p {
    width: fit-content;
    padding: 5px 21px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.3px;
}
.task-property.description textarea {
    border-radius: 5px;
    max-width: 330px;
    min-width: 330px;
    min-height: 40px;
}
.task-options select {
    padding: 4px 24px 4px 8px;
    border-radius: 3px;
}
.task-options input[type="date"] {
    padding: 4px 11px 4px 14px;
    border-radius: 3px;
}
.task-options input[type="number"],
.task-options input[type="text"] {
    padding: 4px 24px 4px 8px;
    border: 0;
    width: 100%;
    font-size: 14px;
}
.task-options .task-name {
    border: none;
    font-size: 27px !important;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
    text-transform: capitalize;
}
.task-options .task-property {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
}
.task-options .task-property p {
    margin: 0;
}
.task-options .task-property.status .property-value p {
   text-transform: capitalize;
}
.task-options .task-property.status p.todo {
    background: #b4d0f7;
}
.task-options .task-property.status p.inprogress {
    background: #faf0b2;
}
.task-options .task-property.status p.blocked {
    background: #ffa9a8;
}
.task-options .task-property.status p.finished {
    background: #c7eac2;
}
.task-options .task-property .property-label {
    width: 155px;
}
.task-options .task-property.assignee .property-value,
.task-options .task-property.created-by .property-value {
    display: flex;
    align-items: center;
}
.task-options .task-property .property-value {
    flex-grow: 1;
}
.task-property.assignee .property-value {
    cursor: pointer;
    user-select: none;
}
.task-options .task-property.assignee .img,
.task-options .task-property.created-by .img {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
    margin-right: 5px;
}
.task-assignee ul {
    padding: 0;
    list-style: none;
    margin: 0 13px;
}
.task-assignee ul li {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.task-assignee ul li .user-infos {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: capitalize;
}
.task-assignee ul li .user-infos .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
    text-transform: lowercase;
}
.task-comments .field {
    display: flex;
}
.task-comments .field .img {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
    margin-right: 5px;
}
.task-comments .field input[type="text"] {
    padding: 4px 24px 4px 8px;
    border: 0;
    width: 100%;
    font-size: 14px;
}
.task-comments .comments .task-comment {
    display: flex;
    padding: 8px 15px;
}
.task-comments .comments .task-comment .img {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
    margin-right: 8px;
}
.task-comments .comments .task-comment .user-infos p {
    margin: 0;
}
.task-comments .comments .task-comment .user-infos .header {
    display: flex;
}
.task-comments .comments .task-comment .user-infos .header p {
    font-weight: bold;
    margin-right: 10px;
}
.task-comments .comments .task-comment .user-infos small {
    font-size: 12px;
    letter-spacing: 0.5px;
}