.options-bar .project-tasks ul {
    margin-left: 25px;
    margin-top: 7px;
}
.options-bar .project-tasks ul li{
    margin-bottom: 5px;
}
.options-bar .project-tasks ul .active{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.options-bar .project-tasks ul li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
.options-bar .project-tasks ul li a {
    color: #d4d7ff;
    text-decoration: none;
}
.options-bar .project-tasks ul li span {
    margin-right: 5px;
}
.options-bar .project-tasks ul li span svg path {
    stroke: #d4d7ff;
}