.search-project p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.search-project .search-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 5px;
    display: flex;
}
.search-project .search-bar input {
    flex-grow: 1;
    border: none;
}
.search-project ul {
    padding: 0 10px;
    list-style: none;
    margin: 20px 0 10px;
}
.search-project ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efefef;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}
.search-project ul li .project-infos {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.search-project ul li .project-infos p {
    margin: 0;
}
.search-project ul li .project-infos p:first-child {
    font-weight: 700;
    cursor: pointer;
    text-transform: capitalize;
}
.search-project ul li .project-infos p:first-child:hover {
    text-decoration: underline;
}
.search-project ul li .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
}