.profile-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-infos .img {
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 68px;
    font-size: 35px;
    color: #fff;
    font-family: sans-serif;
}
.profile-infos .user-infos {
    text-align: center;
}
.profile-infos .user-infos p:first-child {
    margin: 3px 0 0;
    font-weight: 600;
}
.profile-infos .user-infos p:last-child {
    margin: 0;
    font-size: 14px;
}