.are-you-sure button {
    display: inline-block !important;
}
.are-you-sure button:hover {
    color: red ;
}
.are-you-sure .user-deleted {
    background-color: #9eff9e;
    padding: 9px 10px;
    border-radius: 8px;
    margin: 0;
}