.settings-modal .users-list button {
    margin-left: auto;
    width: 96px;
}
.settings-modal .users-list p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.settings-modal .users-list .search-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 5px;
    display: flex;
}
.settings-modal .users-list .search-bar input {
    flex-grow: 1;
    border: none;
}
.settings-modal .users-list ul {
    padding: 0 10px;
    list-style: none;
    margin: 20px 0 10px;
}
.settings-modal .users-list ul li {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.settings-modal .users-list ul li .user-infos {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: capitalize;
}
.settings-modal .users-list ul li .user-infos .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    /* light font weight can be better */
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 23px;
    color: #fff;
    font-family: sans-serif;
    text-transform: lowercase;
}
.settings-modal .users-list ul li .delete-user {
    cursor: pointer;
}
.settings-modal .users-list ul li .delete-user svg {
    vertical-align: middle;
}
.settings-modal .users-list ul li .delete-user:hover {
    text-decoration: underline;
    color: blue;
}
.settings-modal .add-user button {
    margin-top: 20px;
    margin-left: auto;
    width: 81px;
}
.settings-modal .change-password button {
    margin-top: 20px;
    margin-left: auto;
    width: 87px;
}
.settings-modal .user-created-msg {
    display: none;
}
.settings-modal .user-created-msg.done {
    display: block;
    background: #9eff9e;
    padding: 8px 15px;
    border-radius: 8px;
}
.settings-modal .user-not-created-msg {
    display: none;
}
.settings-modal .user-not-created-msg.done {
    display: block;
    background: #f5c9cd;
    padding: 8px 15px;
    border-radius: 8px;
}

.settings-modal .password-changed-msg {
    display: none;
}
.settings-modal .password-changed-msg.done {
    display: block;
    background: #9eff9e;
    padding: 8px 15px;
    border-radius: 8px;
}
.settings-modal .password-not-changed-msg {
    display: none;
}
.settings-modal .password-not-changed-msg.done {
    display: block;
    background: #f5c9cd;
    padding: 8px 15px;
    border-radius: 8px;
}