.task {
    height: 80px;
    padding: 10px;
    background: hsl(0 0% 99% / 1) !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.dragged-task {
    display: none;
}
.task-body {
    flex-grow: 1;
}
.task-footer .delete-btn {
    width: 16px;
    margin-left: auto;
    display: none;
}
.task:hover .delete-btn {
    display: block;
}