.options-bar .boards ul {
    margin-left: 25px;
    margin-top: 7px;
}
.options-bar .boards ul li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
.options-bar .boards ul li:not(.new-board) {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
}
.options-bar .boards ul li a {
    color: #d4d7ff;
    text-decoration: none;
}
.options-bar .boards ul .active {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.options-bar .boards ul li.new-board {
    margin-bottom: 5px;
}
.options-bar .boards ul li .board-name {
    flex-grow: 1;
    text-transform: capitalize;
}
.options-bar .boards ul li.new-board .icon,
.options-bar .boards ul li .board-name .icon {
    margin-right: 5px;
}
.options-bar .boards ul li .more {
    display: none;
    margin-right: 5px;
    width: 38px;
    justify-content: space-between;
}
.options-bar .boards ul li:not(.new-board):hover .more {
    display: flex;
}